body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.app {
  background-color: #252d4a;
  width: 550px;
  min-height: 250px;
  height: min-content;
  border-radius: 15px;
  padding: 35px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.score-section {
  text-align: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  /* display: flex; */
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}
/* .red {
  background-color: red;
} */

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
.actions {
  display: flex;
  margin-top: 15px;
}
.actions button {
  background-color: #7cc6fe;
  justify-content: center;
}
.actions button:hover {
  background-color: #234668;
  color: white;
}

h1 {
  color: lightgreen;
  text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.6);
  text-align: center;
}
.result-score {
  color: lightgreen;
}
.scr {
  color: lightgreen;
  margin-top: 0px;
}
/* .button {
  background-color: #fff;
  color: #000;
}

.button.selected {
  background-color: #007bff;
  color: #fff;
} */
.checked {
  background-color: #7cc6fe;
}

.redirect-btn {
  width: 10%;

  margin: 30px;
}
/* .answer-text:last-child {
  margin-bottom: 0;
  color: lightgreen;
} */

.answer-block {
  border: 2px solid #7cc6fe;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 12px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.answer-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.correct-answer {
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
}

.wrong-answer {
  color: red;
  border: 1px solid red;
}
